body {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  background-color:rgba(226, 191, 85, 0.6)
}
text {
    font-weight:100;
    font-size:15px
}
h1 {
    padding:0px;
    margin:0px;
}
.subtitle {
    padding-top: 0px;
    font-size: 13px;
    margin-top: 0px;
    margin-bottom: 25px;
}